* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chat {
    background-color: aqua;
    margin-top: 20px;
    width: 80%;
    height: 100%;
}
.my_msg {
    background: rgb(55, 55, 190);
    margin: 5px;
    margin-left: 75%;
    padding: 0.3rem;
    width: 100px;
    word-wrap: break-word;
}
.other_msg {
    margin-left: 15px;
    margin-bottom: 10px;
    background: rgb(27, 110, 27);
    width: 200px;
    word-wrap: break-word;
}