* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.chat {
    background-color: aqua;
    margin-top: 20px;
    width: 80%;
    height: 600px;
}